body {
  font-family: "Poppins";
  color: #ffffff;
  background: #12101d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 250px;
}

.grid2 {
  display: grid;
  grid-gap: 50px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 0.4fr 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1.5;
}

.galleryGrid {
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery {
  background-color: #ffffff;
  display: grid;
  grid-gap: 30px;
}

.galleryImg {
  margin: 30px 0;
  width: 300px;
}

.card {
  background: #272435;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #130f25;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

section.secondary {
  background: #1a1729;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero banner.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  text-align: center;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
  color: #adb4e5;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: capitalize;
  margin: 0;
  color:#ffffff;
  opacity: 0.5;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main {
  background-color: #12101d;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #adb4e5;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #ffffff;
  opacity: 0.5;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #adb4e5;
  opacity: 0.7;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(rgba(39, 32, 68, 0.7), rgba(0, 0, 0, 0.6)),
    url("../images/rain.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #adb4e5;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid,
  .grid2 {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  section {
    padding: 30px;
  }

  .card-header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }

  .card-header img, .gallery img{
    width: 200px;
  }

  .embed {
    display: none;
  }

}

@media (max-width: 1410px){
  .galleryGrid{
    justify-self: center;
  }

  .galleryImg{
    display: flex;
    width:100%;
    justify-self: center;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery img{
    width: 300px;
  }

}

@media (max-width: 730px){
  .gallery{
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .gallery img{
    width: 200px;
  }
}